.details a, details a:hover {
    color: #fff!important;
}

.nav-icon img {
    max-width: 20px !important;
}

h1, h1 strong {
    font-size: 44px;
}

html[lang="sr"] .price-box sup {
    margin-left: 4px;
    top: 23px;
}

.price-box sub {
    position: absolute;
    bottom: 0px;
    font-size: 0.2em;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-left: 5px;
}

.phone-number h1 {
    margin: 0
}

.phone-number h1 a {
    background-color:rgb(144, 26, 28);
    padding: 15px;
    border-radius: 100px;
}

.phone-number h1::after {
    display: none;
}

@media (max-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }

    html[lang="sr"] .price-box sup {
        margin-left: 3px;
        top: 18px;
    }

    .price-box sub {
        bottom: 12px;
        font-size: 13px;
        margin-left: 3px;
    }
}

@media (max-width: 600px) {
    .details a {
        font-size: 0.5em;
        word-spacing: 0.9px;
    }

    .details h4 {
        font-size: 1.1em;
    }
}